.main {
  display: flex;
  flex-direction: column;
  padding: 10px; 
  min-height: 95.2vh;
  font-family: 'Unna', serif;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

 .buttonBox{
  padding: 20px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  height: 34px;
  width: max-content;
  border-radius: 10px;
  cursor: pointer;
  padding: 6px 12px;
  border: none;
  color: #0d02da;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: bold;
  border: solid thin #fff;
  background-image: linear-gradient(to right, #fa2c02, #ee6a00, #da9300, #c0b600, #9fd300, #75da52, #47de81, #00dfa9, #00c6d5, #00a6ff, #007dff, #02b0fa);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
}

.nav{
  display: flex;
  gap: 50px;
  height: max-content;
  padding: 10px;
}
.pane{
  padding: 16px;
  height: max-content;
  border-style: solid;
  border-radius: 20px;
  width: 80%;
  border-image: linear-gradient(to right, #e1e9ed, #bfd9e8, #9dc9e5, #7bb8e2, #57a7df, #3d9fe9, #2895f2, #258af9, #5b81ff, #9073ff, #c359ff, #f41fff)20;
  border-image-width: 2px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px #fff;
}
.profile{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.strong{
  background-image: linear-gradient(to right, #fa2c02, #ee6a00, #da9300, #c0b600, #9fd300, #79dd4f, #4fe57e, #00eaa8, #00d8d6, #00c1ff, #00a4ff, #1f7cff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
}

/* new product ...product form*/
.form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form input{
  height: 34px;
  outline: none;
}
.form textarea{
  height: 100px;
  outline: none;
}
.newHover{
  display: flex;
  text-decoration: none;
  align-items: center;
  background-image: linear-gradient(to right, #4c1ab8, #363cc6, #1b53d0, #0067d7, #0079db, #107fe5, #1b84ef, #258af9, #5b81ff, #9073ff, #c359ff, #f41fff);
  color: #fff;
  padding: 8px 16px;
  width: max-content;
  border-radius: 20px;
  white-space: nowrap;
  transition: all ease-in-out 0.25s;
}

.newHover:hover{
  transform: scale(1.035);
}


  @import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* table */
.table{
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  border: solid 1px  #b8e9e9;
  border-radius: 6px;
  empty-cells: hide;
}
.table thead{
  font-size: 20px;
  font-family: 'Unna', serif;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #eb09b2, #b76df3, #659bff, #00bcff, #00d3ff, #00def6, #00e7e5, #00efcc, #00f1af, #08f18a, #49ef5c, #72eb09);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  background-size: 10%;
}
.table tbody{
  font-size: 18px;
  font-weight: normal;
  font-family: 'Unna', serif;
  font-style: italic;
}
.actions{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

  /* edit products session */
.edit{
  text-decoration: none;
  color: #0a029e;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 3px;
  border-radius: 3px;
  width: 100px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
  background-color: #fff;
}
 .edit:hover{
  transform: scale(1.065);
 }

/* remove products section */
 .remProduct{
  transition: all ease-in-out 0.25s;
 }
 .remProduct:hover{
  transform: scale(1.065);
  box-shadow: 0 0 4px 4px #f5f5;
 }

 /* arrow back buttons */
 .back{
  display: flex;
  align-items: center;
  width: max-content;
  transition: all ease-in-out 0.25s;
  background-image: linear-gradient(to right, #eb09b2, #b76df3, #659bff, #00bcff, #00d3ff, #00def6, #00e7e5, #00efcc, #00f1af, #08f18a, #49ef5c, #72eb09);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  background-size: 10%;
 }
 .back:hover{
  transform: scale(1.045);
 }